:root {
    --cor-background: #16357a;
    --cor-background--card: #204286;
    --cor-texto: #fefefe;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
}

.display-none {
    display: none;
}

html, body {
    background-color: var(--cor-background);
    position: relative;
}

.bg__textos {
    height: 100vh;
    position: relative;
    overflow: hidden;  /* esconder rolagem da página */
}

.textos__background::after {
    content: "";
    position: absolute;
    margin: auto;
    font-size: 10rem;
    color: var(--cor-texto);
    font-weight: 900;
    opacity: 4%;
}

.textos__background.tb-1::after {
    content: 'dicionário';
    top: 0;
    transform: translate(5%, -10%);
}

.textos__background.tb-2::after {
    content: '@molina.iago';
    top: 0;
    bottom: 0;
    transform: translate(25%, 60%);
}

.textos__background.tb-3::after {
    content: 'Online';
    bottom: 0;
    transform: translate(20%, 15%);
}

.conteudo {
    height: 100vh;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.conteudo .card {
    background-color: var(--cor-background--card);
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.conteudo .card header.cabecalho {
    background-color: var(--cor-texto);
    height: 26px;
    border-radius: 5px 5px 0 0;
}

.conteudo .card main.corpo {
    padding: 3rem 1rem;
}

.conteudo .card main.corpo form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.conteudo .card main.corpo form input[type="text"] {
    background-color: var(--cor-background--card);
    border: none;
    border-bottom: 1px solid var(--cor-texto);
    color: var(--cor-texto);
    outline: none;
    width: 70%;
}

.conteudo .card main.corpo form input[type="text"]::placeholder {
    color: var(--cor-texto);
    opacity: 1; /* para firefox */
    font-family: monospace;
    
}

.conteudo .card main.corpo form input[type="submit"] {
    background-color: var(--cor-texto);
    color: var(--cor-background--card);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.conteudo .card main.corpo form input[type="submit"]:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.534);
    zoom: 103%;
}

.conteudo .card main.corpo .resultado {
    padding: 3rem 0.5rem 1rem 0.5rem;
}

.conteudo .card main.corpo .resultado .carregamento {
    height: 50px;
    width: 50px;
    border: 5px solid var(--cor-texto);
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: var(--cor-background--card);
    border-right-color: var(--cor-background--card);
    animation: carregamento 1s linear infinite;
}

@keyframes carregamento {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.conteudo .card main.corpo .resultado h3.resultado__titulo {
    color: var(--cor-texto);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.conteudo .card main.corpo .resultado span.resultado__descricao {
    color: var(--cor-texto);
}

@media screen and (max-width: 550px) {
    .conteudo .card main.corpo form {
        flex-direction: column;
        row-gap: 20px;
    }
    .conteudo .card main.corpo form input[type="text"] {
        width: 100%;
    }
}